---
---

$font-color: {{ site.data.style.font-color }};
$background-color: {{ site.data.style.background-color }};
$brand-color: {{ site.data.style.brand-color }};
$link-color: {{ site.data.style.link-color }};

$tiny-margin: 0.5rem;
$standard-margin: 1rem;
$big-margin: 1.5rem;
$bigger-margin: 2rem;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,300,400);


/* Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding:0;
  background-color:#F5F5F3;
  font-size: 16px;
}

header, h1, h2, h3{
  font-family:"Roboto Condensed";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h2{
  font-size:36px;
}
h3{
  font-size: 28px;
  margin-bottom: 8px;
}

blockquote{
  color: #8A8A8A;
  border-left: 4px solid #E4E4E4;
  margin-left: 0;
  padding-left: 20px;
}

header{
  background-color:#6bc6de;
  margin-top:0;
  font-size:16px;
  color:#fff;
  margin-bottom:40px;
}

header .row{
  margin-bottom:0;
}

.home-blocks div.six, .content-block{
  background-color:#fff;
  margin-bottom:40px;
  box-shadow: #ccc 2px 2px 14px 0px;
  padding:20px;
  line-height: 1.2em;
  min-height: 235px;
}

.home-blocks a{
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.home-blocks h1, .home-blocks h1 a{
  color:#6bc6de;
  font-size:24px;
  font-weight: normal;
}

.home-blocks #searchbox{
  background-image:url(../images/dwingeloo.png);
  padding: 20px 10px 0 10px;
}

.home-blocks #searchbox button{
  margin-top: 10px;
}

.home-blocks .row{
  margin-bottom: 0;
}

#content img{
  width:100%;
}

.table-container {
  display: table;
  height: 100%;
  width: 100%;
}

.table-block {
  display: table-row;
  height: 1px;
}

.footer-push {
  height: auto;
}

#footer {
  /* Placeholder footer styles */
  background-color:#fff;
  padding-top:20px;
  padding-bottom:20px;
  margin-top: 100px;
  font-size:12px;
  text-align: center;
}

#footer a{
  text-decoration:none;
}

#logo {
  margin-top:22px;
  font-size:24px;
  font-weight:300;
}
#logo span, header h1 span{
  font-weight:700;
}

header h1{
  font-weight:300;
  font-size:72px;
}

#mission{
  padding-top:40px;
  padding-bottom:30px;
}

#mission h1{
  margin-bottom:0px;
}

#mission h2{
  font-size:32px;
  margin-bottom:6px;
  color:#000;
}

#mission .six{
  padding-top:2px;
}

#mission p{
  font-size:20px;
  margin-bottom:16px;
  margin-top:16px;
}


.no-left-margin {
  padding-left: 0;
}

.vertical-align-top td {
  vertical-align: top;
}

table.no-borders td {
  border-bottom: none;
}

table.no-borders tbody tr:first-child {
  border-top: 1px solid black;
}

table.no-borders tr.border-bottom {
  border-bottom: 1px solid black;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  transition: color 0.5s ease-in-out;
  color: rgba($link-color, .75);
  text-decoration: underline;
}

a:active, a:focus {
  outline-style: none;
  -moz-outline-style:none;
}

button.button-primary{
  background-color:#6bc6de;
  border-color:#6bc6de;
}
button.button-primary:hover{
  background-color:#000;
  border-color:#000;
}

.row.no-bottom-margin {
  margin-bottom: $standard-margin;
}

#logo-wide {
  margin-top: 11px;
}

header a,
header a:visited {
  text-decoration: none;
  color: #fff;
}

#mainmenu{
  float:right;
  padding-top:6px;
}

.delimiter{
  width:10px;
  height:10px;
  margin-left:10px;
  margin-right:10px;
  border-radius:100%;
  background-color:#fff;
  display:inline-block;
}

.delimiter:last-child{
  display:none;
}

header a.menu-item:hover,
header a.menu-item.current {
  border-bottom-width: 3px;
  border-bottom-color: $brand-color;
  border-bottom-style: solid;
  color: #000;
}

header ul {
  margin: 2px 0 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

header ul li {
  display: inline;
  margin-left: 7px;
}

nav #github-nav {
  background-color: $brand-color;
  color: white;
  border-radius: 5px;
  padding: 7px 14px;
}

#logo:hover,
nav #github-nav:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}


body > div > div > p > a > img {
  width: 822px;
}
