<header>
  <nav>
    <div class="container">
      <div class="row">
          <div id="mainmenu">
          
          
            {% for item in site.data.menu %}
            
              {% assign url = page.url | replace_first:'/','' | split:"/" | first %}
              {% if item.name == url %}
                <a class="menu-item current" href="{{ site.baseurl }}/{{ item.name }}">
              {% else %}
                {% if item.notLocal %}
                  <a class="menu-item" href="{{ item.name }}">
                {% else %}
                  <a class="menu-item" href="{{ site.baseurl }}/{{ item.name }}">
                {% endif %}
              {% endif %}
                {{item.title}}</a><span class="delimiter"></span>
            
            {% endfor %}
        </div>
      </div>
      <div class="row" id="mission">
        
        <div class="four columns">
          <h1><span>Erf</span>Geo</h1>

          <h2>{{ site.data.style.slogan }}</h2>
        </div>
        <div class="six columns">

          <p>Van Dorestad tot Lelystad, van Pieterskerk tot Nils Bohrweg 1, van Burgwal tot Bob Marleystraat en van Oude Niedorp tot Hollands Kroon.</p>

          <p>Elke plaats, bestuurlijke eenheid, straat, zelfs elk gebouw en elk adres dat ooit in Nederland bestaan heeft kennen - dat is onze ambitie.</p>

          

        </div>
      </div>
    </div>
  </nav>
</header>

