<header>
  <nav>
    <div class="container">
      <div class="row">
        <div class="two columns">
          <a href="{{ site.baseurl }}/" id="logo">
            erfgeo
          </a>
        </div>
        <div class="ten columns">
          <ul>
            {% for item in site.data.menu %}
            <li>
              {% assign url = page.url | replace_first:'/','' | split:"/" | first %}
              {% if item.name == url %}
              <a class="menu-item current" href="{{ site.baseurl }}/{{ item.name }}">
              {% else %}
                {% if item.notLocal %}
                  <a class="menu-item" href="{{ item.name }}">
                {% else %}
                  <a class="menu-item" href="{{ site.baseurl }}/{{ item.name }}">
                {% endif %}
              {% endif %}
                {{item.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

