<!DOCTYPE html>
<html lang="nl">
<head>
  {% include head.html %}
</head>
<body>

  <div class="table-container">

    <div class="table-block footer-push">

      {% if !page.altHeader %}
        {% include alternateHeader.html %}
      {% else %}
        {% include header.html %}
      {% endif %}

      <div class="container">

        <div class="row">

          <div class="two-third column">

            {{ page.title }}
            {{ content }}
          
          </div>
        
        </div>
      
      </div>
    
    </div>

    <div class="table-block">
         
      <div class="container">

        <footer id="footer" class="twelve columns">

          {% include footer.html %}

        </footer>

      </div>

    </div>

  </div>

</body>
</html>
