<!DOCTYPE html>
<html lang="nl">
<head>
  {% include head.html %}
</head>
<body>

  <div class="table-container">

    <div class="table-block footer-push">

      {% if !page.altHeader %}
        {% include alternateHeader.html %}
      {% else %}
        {% include header.html %}
      {% endif %}

      <div class="container">

        <div class="row">

          <div class="nine columns" id="content">
            <h1>{{ page.title }}</h1>
            {{ content }}
            {% if page.post_author %}
              <em>door: {{ page.post_author }}</em>
            {% endif %}
            
          </div>
        
        </div>
      
      </div>
    
    </div>

    <div class="table-block">
         
      

        <footer id="footer" class="twelve columns">
          <div class="container">
            {% include footer.html %}

          </div>
        </footer>


    </div>

  </div>

</body>
</html>
