<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>erfgeo</title>
  <meta name="description" content="Histograph - historical geocoder">
  <meta name="author" content="Waag Society">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" href="images/histograph.png">
  {{ if page.d3 }}
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  {{ endif }}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
  <div class="table-container">
    <div class="table-block footer-push">
      {% if !page.altHeader %}
        {% include alternateHeader.html %}
      {% else %}
        {% include header.html %}
      {% endif %}
      <!-- Primary Page Layout
           –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="container">
        <div class="row">
          <div class="two-third column">
            {{ page.title }}
            {{ content }}
          </div>
        </div>
      </div>  <!-- end primary div.container -->
    </div> <!-- end primary div.table-block -->


    <div class="table-block">

    <!-- Page Footer Layout
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      <footer id="footer" class="twelve columns">
        {% include footer.html %}
      </footer>
    </div> <!-- end footer div.container -->
  </div>  <!-- end footer div.table-block -->
</body>
</html>
