<!DOCTYPE html>
<html lang="nl">
<head>
  {% include head.html %}
	<!-- leaflet -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/skeleton.css" />
  <link rel="stylesheet" href="/css/viewer.css" />
  <link rel="stylesheet" href="/css/leaflet.css" />
  <style>
    header{
      margin-bottom: 0;
    }
  </style>
</head>
<body>
  {% include header.html %}
  
  <div id='app'></div>
  <script src="/js/cola.min.js"></script>
  <script src="/dist/bundle.js"></script>
</body>
</html>